div, label {
  margin: auto;
}

.theme-light {
  background-color: #eee;
  color: #11a;
  font-family: Courier New,Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono, monospace;
}

.theme-dark {
  background-color: #111;
  color: #aae;
  font-family: Courier New,Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono, monospace;
}

.data div {
  display: inline;
  font-family: Courier New,Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono, monospace;
}

.data .symbol {
  font-weight: bold;
}

.data .percent-change {
  font-weight: bold;
}

.negative-number {
  color: red;
}

.positive-number {
  color: green;
}

td.crypto-details-field, th.crypto-details-header {
  width: 100;
  text-align: center;
}

button.dynamic-huge-font {
  font-size: 1.5em;
}

label.dynamic-huge-font {
  font-size: 1.5em;
}

.dynamic-huge-font {
  font-size: 3em;
}

.totals {
  font-weight: bold;
}

td.totals, th.totals {
  width: 150;
  text-align: center;
}

td.totals-label, th.totals-label {
  text-align: right;
}

.alert-container {
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}

.alert {
  padding-top: 1em;
}

.item {
    position: relative;
    float: right;
}

.item h2 {
    text-align:center;
    position: absolute;
    line-height: 125px;
    width: 100%;
}

svg {
   -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.circle_animation {
  stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 440;
}

.hidden {
  display: none;
}
